body {
    background-color: #dddddd
}

/* STYLE NAVBAR */

.navbar {
    background-color: #1d74b3;
    color: white;    
    height: 56px;
}

.navbar-header img {
    padding-right: -10px;
    margin-left: -15px;
    padding-bottom: 8px;
}

.navbar-header {
    font-size: 15px;
    color: #fefefe;
    padding-top: 3px;
    padding-left: 10px;
}

.log-in {
    padding-top: 15px;
    padding-right: 15px;
    color: white;
}

ul li{
    height: 56px;
    margin: 0 auto;
}


/* FORM REGIS */

h1 {
    color: #0E5180;
    font-family: "";
}

.icon-kandidat {
    margin: 100px;
    margin-right: 20px;
    margin-top: 130px;
}

.icon-kandidat .who {
    margin-bottom: -25px;
    margin-left: 35px;
}

.icon-kandidat .next {
    margin-top: -80px;
    margin-left: 130px;
}

.registrasi-container {
    height: 100vh;
    width: 100%;
    margin-left: 200px;
    margin-top: -30px;
}

.regis-form {
    max-width: 100%;
    width: 460px;
    padding: 10px;
    margin: auto;
}

.regis-form legend {
    font-size: 20px;
    margin-bottom: -13px;
}

.regis-form button {
    background-color: #0E5180;
    border-color: #0E5180;
    border-radius: 10px;
}


/* FORM LOGIN */

.login-container {
    height: 90vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 450px;
    padding: 10px;
    margin: auto;
}

.login-form button {
    padding-top: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: #0E5180;
    border-color: #0E5180;
    border-radius: 10px;
}

.update-data-pemilih .kotak {
    background-color: #b5b5b5;
    width: 75px;
    height: 75px;
    margin: 1%;
    border-radius: 15px;
}

section{
    margin-top: 100px;
}

section.update-data-pemilih {
    margin: 50px auto;
}

.ketua1 h2,.ketua2 h2,.update-data-pemilih h2, .selamat h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.selamat{
    margin-bottom: 100px;
}

.selamat .foto1, .selamat .foto2{
    width: 100px;
    height: 100px;
    margin: 0 5%;
    border-radius: 15px;
    box-sizing: border-box;
}

.selamat .foto1{
    background-color: #b5b5b5;
}

.selamat .foto2{
    background-color: #6397bd;
}

.selamat img{
    height: 80%;
    margin: 0 15%;
    padding: 10px;
}

.selamat p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.selamat .ket-foto{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px 5%;
}

.selamat .ket-foto p{
    color: black;
    padding: 0;
}



@media screen and (min-width: 800px){
    .navbar{
        padding: 0 0 0 16px;
    }
    .name, .navbar .log-in {
        background-color: #0063aa;
    }
    .log-out {
        background-color: #00538e;
    }
    .name,
    .log-out, .navbar .log-in{
        padding: 15px 25px;
    }
    .update-data-pemilih .kotak {
        width: 130px;
        height: 130px;
    }

    .ketua1 h2, .ketua2 h2, .update-data-pemilih h2 , .selamat h2{
        font-size: 35px;
    }
    .selamat p{
        font-size: small;
    }
    .selamat .foto1, .selamat .foto2, .selamat .ket-foto{
        width: 190px;
        height: 190px;
        margin: 5 10%;
    }
}
