body {
    background-color: #dddddd
}

/* STYLE NAVBAR */

.navbar {
    background: #1d74b3;
    color: #fefefe;
}

.navbar a {
    font-size: 15px;
    padding-left: 5px;
}

.log-in {
    padding-top: 15px;
    padding-right: 15px;
}

ul li {
    height: 56px;
    margin: 0 auto;
    padding: 0 0 0 16px;
}

/* FORM REGIS */

.container {
    padding-top: 10vh;
    justify-content: center;
    margin-top: 10vh;
    display: flex;
    max-width: 100%;
    margin-bottom: 10vh;
}

.icon-kandidat {
    margin-right: -10vh;
    margin-left: 20px;
}

.icon-kandidat img {
    margin-top: 15vh;
    margin-right: 19vh;
    width: 200px;
}

.icon-kandidat h1 {
    font-family: sans-serif;
    color: #0E5180;
}

.icon-kandidat .who {
    margin-top: 20px;
    margin-bottom: -120px;
    margin-left: 40px;
    font-size: 30px;
}

.icon-kandidat .next {
    margin-top: -60px;
    margin-left: 110px;
    font-size: 30px;
}

.form-group {
    justify-content: center;
    width: 40vh;
    margin-bottom: 1vh;
}

.container h4 {
    text-align: center;
    font-size: 16px;
}

.form-group label {
    font-size: 15px;
}

.form-group button {
    background-color: #00538e;
    font-size: 15px;
}

/* FORM LOGIN */

.login-container {
    height: 90vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 450px;
    padding: 10px;
    margin: auto;
}

.login-form button {
    padding-top: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: #0E5180;
    border-color: #0E5180;
    border-radius: 10px;
}

.update-data-pemilih .kotak {
    background-color: #b5b5b5;
    width: 75px;
    height: 75px;
    margin: 1%;
    border-radius: 15px;
}

section{
    margin-top: 100px;
}

section.update-data-pemilih {
    margin: 50px auto;
}

.ketua1 h2,.ketua2 h2,.update-data-pemilih h2, .selamat h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.selamat{
    margin-bottom: 100px;
}

.selamat .foto1, .selamat .foto2{
    width: 100px;
    height: 100px;
    margin: 0 5%;
    border-radius: 15px;
    box-sizing: border-box;
}

.selamat .foto1{
    background-color: #b5b5b5;
}

.selamat .foto2{
    background-color: #6397bd;
}

.selamat img{
    height: 80%;
    margin: 0 15%;
    padding: 10px;
}

.selamat p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.selamat .ket-foto{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px 5%;
}

.selamat .ket-foto p{
    color: black;
    padding: 0;
}



@media screen and (min-width: 800px){
    .navbar{
        padding: 0 0 0 16px;
    }
    .name, .navbar .log-in {
        background-color: #0063aa;
    }
    .log-out {
        background-color: #00538e;
    }
    .name,
    .log-out, .navbar .log-in{
        padding: 15px 25px;
    }
    
    .form-group {
        min-height: 40vh;
        justify-content: center;
        width: 59vh;
        margin-bottom: -27vh;
    }
    
    .form-group h4 {
        font-size: 25px;
    }
    
    .icon-kandidat img {
        width: 250px;
        margin-top: 0px;
    }
    .icon-kandidat h1 {
        font-family: sans-serif;
        color: #0E5180;
    }
    .icon-kandidat .who {
        margin-bottom: -25px;
        margin-left: 40px;
        font-size: 40px;
        margin-top: 0px;
    }
    .icon-kandidat .next {
        margin-top: -80px;
        margin-left: 130px;
        font-size: 40px;
    }
    .container {
        margin-bottom: 17vh;
    }
    
    .update-data-pemilih .kotak {
        width: 130px;
        height: 130px;
    }

    .ketua1 h2, .ketua2 h2, .update-data-pemilih h2 , .selamat h2{
        font-size: 35px;
    }
    .selamat p{
        font-size: small;
    }
    .selamat .foto1, .selamat .foto2, .selamat .ket-foto{
        width: 190px;
        height: 190px;
        margin: 5 10%;
    }
}
