body{
    background-color: #dddddd
}

/* STYLE NAVBAR */
.navbar{
    background-color: #1d74b3;
    color: white;
}
ul li{
    height: 56px;
    margin: 0 auto;
}

.update-data-pemilih .kotak{
    background-color: #b5b5b5;
    width: 75px;
    height: 75px;
    margin: 1%;
    border-radius: 15px;
}

section.ketua1 .container{
    margin-top: 100px;
}

section.update-data-pemilih{
    margin: 50px auto;
}

.ketua1 h2,.ketua2 h2,.update-data-pemilih h2{
    font-size: 20px;
}


@media screen and (min-width: 800px){
    .navbar{
        padding: 0 0 0 16px;
    }
    .name{
        background-color: #0063aa;
    }
    .log-out{
        background-color: #00538e;
    }
    .name,.log-out{
        padding: 15px 25px;
    }
    .update-data-pemilih .kotak{
        width: 130px;
        height: 130px;
    }
    .ketua1 h2, .ketua2 h2, .update-data-pemilih h2{
        font-size: 35px;
    }
}